.button-card {
    position: relative;
    width: 160px;
    height: 40px;
    background: $gradient-color;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    span {
        display: inline-block;
        vertical-align: middle;
    }
    img {
        display: inline-block;
        vertical-align: middle;
    }
}
