@media (max-width: 1650px) {
    .container {
        width: 1380px;
    }
    .pizza {
        position: relative;
        z-index: 3;
        &__absolute-mafia {
            img {
                width: 430px;
            }
        }
        &__absolute-right {
            bottom: -245px;
            img {
                z-index: -1;
                width: 500px;
            }
        }
        &-item {
            &__cheeses-absolute {
                left: -120px;
            }
            &__mafia-image {
                right: 220px;
            }
            &__michigan-image {
                right: -132px;
                z-index: -1;
            }
        }
    }
    .burgers {
        &-item {
            &__ben-image {
                right: -132px;
            }
        }
    }
    .set {
        position: relative;
        z-index: 2;
    }
    .pizza__wrapper,
    .set__wrapper,
    .burgers__wrapper,
    .combo__wrapper,
    .snacks__wrapper,
    .drinks__wrapper {
        grid-template-columns: repeat(4, 330px);
    }
    .drinks {
        &-item {
            &__strawberry-image {
                right: -420px;
            }
        }
    }
}

@media (max-width: 1600px) {
    .container {
        width: 1340px;
    }
    .promo {
        .container {
            width: 1320px;
        }
        &-slider {
            &__image {
                width: 640px;
            }
        }
        &__arrow-prev {
            left: -5px;
        }
        &__arrow-next {
            right: -5px;
        }
        &__image-absolute {
            img {
                width: 90px;
            }
        }
    }
    .pizza {
        &__absolute-mafia {
            img {
                width: 405px;
            }
        }
        &-item {
            &__michigan-image {
                display: none;
            }
            &__mafia-image {
                right: 150px;
            }
        }
        &__wrapper {
            grid-template-rows: repeat(6, minmax(471px, auto));
            grid-auto-rows: minmax(471px, auto);
        }
    }
    .set {
        &__wrapper {
            grid-auto-rows: minmax(481px, auto);
        }
    }
    .burgers {
        &-item {
            &__ben-image {
                display: none;
            }
            &__royal-image {
                left: -170px;
            }
        }
        &__wrapper {
            grid-template-rows: repeat(4, minmax(480px, auto));
            grid-auto-rows: minmax(480px, auto);
        }
    }
    .combo {
        grid-auto-rows: minmax(490px, auto);
        &-item {
            &__one-image {
                left: -160px;
                z-index: 0;
            }
        }
    }
    .snacks {
        &__image-bottom {
            bottom: -265px;
            img {
                width: 330px;
            }
        }
    }
    .pizza__wrapper,
    .set__wrapper,
    .burgers__wrapper,
    .combo__wrapper,
    .snacks__wrapper,
    .drinks__wrapper {
        grid-template-columns: repeat(4, 320px);
    }
}

@media (max-width: 1500px) {
    .promo {
        &__arrow-prev {
            left: 4px;
        }
        &__arrow-next {
            right: 4px;
        }
    }
}

@media (max-width: 1450px) {
    .container {
        max-width: 1280px;
    }
    .header {
        &__selection,
        &__phone {
            margin-left: 80px;
        }
    }
    .promo {
        &-slider {
            &__image {
                width: 630px;
            }
        }
    }
    .pizza__wrapper {
        grid-template-rows: repeat(6, minmax(456px, auto));
        grid-auto-rows: minmax(456px, auto);
    }
    .pizza__wrapper,
    .set__wrapper,
    .burgers__wrapper,
    .combo__wrapper,
    .snacks__wrapper,
    .drinks__wrapper {
        grid-template-columns: repeat(4, 305px);
    }
}
@media (max-width: 1370px) {
    .container {
        width: 1170px;
    }
    .header {
        &__selection,
        &__phone {
            margin-left: 70px;
        }
    }
    .promo {
        .container {
            width: 1170px;
        }
        &-slider {
            &__image {
                width: 570px;
            }
        }
        &__arrow-prev {
            // display: none;
            left: 10px;
        }
        &__arrow-next {
            // display: none;
            right: 10px;
        }
    }
    .pizza {
        padding-top: 110px;
        &__wrapper {
            grid-template-columns: repeat(3, 340px);
            grid-template-rows: repeat(6, minmax(491px, auto));
            grid-auto-rows: minmax(491px, auto);
        }
        &-item {
            &__cheeses-absolute {
                left: -440px;
            }
        }
        &__absolute-right {
            bottom: -265px;
        }
    }
    .set {
        padding-top: 110px;
        &__wrapper {
            grid-template-columns: repeat(3, 340px);
            grid-auto-rows: minmax(491px, auto);
            row-gap: 25px;
        }
    }
    .burgers {
        padding-top: 110px;
        &__wrapper {
            grid-template-columns: repeat(3, 340px);
            grid-template-rows: repeat(4, minmax(500px, auto));
            grid-auto-rows: minmax(500px, auto);
        }
        &-item {
            &__royal-image {
                left: -430px;
            }
            &__chicken-image {
                right: -350px;
            }
        }
    }
    .snacks {
        padding-top: 110px;
        &__wrapper {
            grid-template-columns: repeat(3, 340px);
            grid-template-rows: repeat(2, minmax(430px, auto));
            grid-auto-rows: minmax(430px, auto);
        }
        &__image-middle {
            left: 63%;
        }
    }
    .drinks {
        padding: 110px 0;
        &__wrapper {
            grid-template-columns: repeat(3, 340px);
            grid-template-rows: repeat(3, minmax(475px, auto));
            grid-auto-rows: minmax(475px, auto);
        }
    }
}
@media (max-width: 1270px) {
    .container {
        width: 1140px;
    }
    .header {
        &__selection,
        &__phone {
            margin-left: 65px;
        }
    }
    .promo {
        .container {
            width: 1120px;
        }
        &-slider {
            &__image {
                width: 549px;
            }
        }
        &__arrow-prev {
            left: 3px;
        }
        &__arrow-next {
            right: 3px;
        }
    }
    .slider {
        padding-top: 80px;
        &__item-text {
            margin-left: 20px;
        }
    }
    .pizza {
        &__absolute-right {
            bottom: -248px;
            img {
                width: 450px;
            }
        }
    }
    .burgers {
        &-item {
            &__royal-image {
                left: -475px;
            }
        }
    }
    .combo {
        &__image-right {
            img {
                width: 230px;
            }
        }
    }
}
@media (max-width: 1199px) {
    .container {
        width: 960px;
    }
    .header {
        &__selection,
        &__phone {
            margin-left: 60px;
        }
        &__phone-link {
            font-size: 20px;
        }
    }
    .promo {
        .container {
            width: 960px;
            overflow-x: hidden;
        }
        &-slider {
            &__wrapper {
                max-width: 960px;
            }
        }
        &-slider__image {
            width: 700px;
            margin: 0 auto;
        }
        &__arrow-prev {
            left: 70px;
        }
        &__arrow-next {
            position: absolute;
            z-index: 10;
            right: 70px;
        }
    }
    .slider {
        &__arrow-next {
            display: none;
        }
    }
    .pizza {
        padding-top: 100px;
        &__wrapper {
            grid-template-columns: repeat(2, 340px);
            grid-template-rows: repeat(6, minmax(491px, auto));
            grid-auto-rows: minmax(491px, auto);
        }
    }
    .set {
        padding-top: 100px;
        &__wrapper {
            grid-template-columns: repeat(2, 340px);
            grid-auto-rows: minmax(491px, auto);
            row-gap: 25px;
        }
    }
    .burgers {
        padding-top: 100px;
        &__wrapper {
            grid-template-columns: repeat(2, 340px);
            grid-template-rows: repeat(4, minmax(500px, auto));
            grid-auto-rows: minmax(500px, auto);
        }
        &-item {
            &__royal-image {
                left: -430px;
            }
            &__chicken-image {
                right: -240px;
            }
        }
    }
    .combo {
        padding-top: 100px;
        &__wrapper {
            display: grid;
            grid-template-columns: repeat(2, 340px);
            grid-auto-rows: minmax(510px, auto);
            column-gap: 20px;
            row-gap: 25px;
        }
    }
    .snacks {
        padding-top: 100px;
        &__wrapper {
            grid-template-columns: repeat(2, 340px);
            grid-template-rows: repeat(2, minmax(430px, auto));
            grid-auto-rows: minmax(430px, auto);
        }
        &__image-middle {
            left: 63%;
        }
    }
    .drinks {
        padding: 100px 0;
        &__wrapper {
            grid-template-columns: repeat(2, 340px);
            grid-template-rows: repeat(3, minmax(475px, auto));
            grid-auto-rows: minmax(475px, auto);
        }
        &-item {
            &__strawberry-image {
                display: none;
            }
        }
    }
}
@media (max-width: 991px) {
    .container {
        width: 750px;
    }
    .header {
        position: relative;
        background-color: #e5e5e5;
        z-index: 2;
        &__wrapper {
            .humburger {
                position: relative;
                top: 0;
                right: 24px;
                display: block;
                width: 33px;
                height: 27px;
                cursor: pointer;

                span {
                    display: block;
                    height: 3px;
                    width: 100%;
                    background-color: $black-color-red;
                    margin-bottom: 8px;
                    transition: 0.5s all;
                }

                &_active {
                    position: fixed;
                    z-index: 100;
                    right: 80px;

                    span {
                        margin-bottom: -2px;

                        &:nth-child(1) {
                            transform: translateY(3px) rotate(-45deg);
                        }

                        &:nth-child(2) {
                            display: none;
                        }

                        &:nth-child(3) {
                            transform: translateY(3px) rotate(45deg);
                        }
                    }
                }
            }
        }
        &__logo {
            img {
                width: 220px;
            }
        }
        &__selection {
            display: none;
        }
        &__phone {
            display: none;
        }
        &__button {
            display: none;
        }
        &__mobile-inner {
            display: flex;
        }
        &__button-mobile {
            display: block;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
        &__mobile-icon {
            display: block;
            margin-left: 36px;
        }
    }
    
    .nav {
        position: fixed;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        top: 0;
        left: -100%;
        // right: 0;
        // bottom: 0;
        width: 100%;
        height: 100vh;
        padding: 0;
        // padding: 38px 60px 38px 20px;
        background: rgba($main-color, .2);
        // background: #ffffff;
        transition: 0.1s all;
        z-index: 100;
        &.active {
            left: 0;
            z-index: 100;
        }
        &__menu {
            position: fixed;
            display: flex;
            flex-direction: column;
            background-color: #fff;
            width: 87%;
            height: 100vh;
            top: 0;
            left: -100%;
            padding-top: 45px;
            padding-left: 24px;
            padding-bottom: 35px;
            transition: 0.8s all;
            &.active {
                left: 0;
                z-index: 100;
            }
        }
        &__menu-item {
            color: #000;
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 20px;
            &:last-child {
                margin-bottom: 30px;
            }
            a {
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 4px;
                    bottom: -5px;
                    background-color: $black-color-red;
                    transition: all .5s;
                }
                &:hover {
                    &::before {
                        width: 100%;
                    }
                }
            }
        }
        &__divider {
            display: block;
            width: 340px;
            height: 1px;
            margin-bottom: 25px;
            background-color: #f0f0f0;
            &:last-child {
                margin-bottom: 30px;
            }
        }
        &__city-text {
            display: block;
            position: relative;
            margin-bottom: 25px;
            padding-left: 44px;
            color: $black-color-red;
            font-size: 16px;
            line-height: 20px;
            &::before {
                content: '';
                position: absolute;
                top: -10%;
                left: 0;
                width: 18px;
                height: 24px;
                background: url('../icons/modal/menu-icon-city.svg') center no-repeat;
            }
        }
        &__contacts-title {
            display: block;
            font-size: 16px;
            line-height: 20px;
            color: $main-color;
            margin-bottom: 15px;
        }
        &__contacts-phone {
            display: block;
            font-size: 18px;
            line-height: 22px;
            color: $black-color-red;
            font-weight: 900;
            margin-bottom: 5px;
        }
        &__contacts-work {
            display: block;
            font-size: 16px;
            line-height: 20px;
            color: $color-gray;
        }
        &__image-absolute {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            display: block;
            img {
                width: 150px;
            }
        }
        &__image-icon {
            position: absolute;
            display: block;
            left: 50%;
            top: 20%;
            img {
                width: 76px;
            }
        }
        &__close-icon {
            position: absolute;
            display: block;
            top: 8px;
            right: -25px;
            cursor: pointer;
            img {
                width: 20px;
                height: 20px;
            }
        }
    }
    .promo {
        padding-top: 10px;
        .container {
            width: 750px;
        }
        &__arrow-prev {
            display: none;
        }
        &__arrow-next {
            display: none;
        }
    }
    .title {
        font-size: 36px;
        line-height: 40px;
    }
    .slider {
        padding-top: 60px;
        &__image-absolute {
            img {
                width: 150px;
            }
        }
    }
    .pizza {
        padding-top: 95px;
        &__absolute-mafia {
            display: none;
        }
        &__wrapper {
            text-align: center;
        }
        &-item {
            &__mafia-image {
                display: none;
            }
        }
        &__absolute-right {
            bottom: -230px;
            img {
                width: 350px;
            }
        }
        &__absolute-bottom {
            bottom: 160px;
            left: 56%;
        }
    }
    .burgers {
        padding-top: 95px;
        &-item {
            &__chicken-image {
                display: none;
            }
        }
    }
    .combo {
        padding-top: 95px;
        &__image-right {
            display: none;
        }
    }
    .snacks {
        padding-top: 95px;
        &__image-middle {
            left: 53%;
        }
        &__image-bottom {
            bottom: -240px;
            img {
                width: 250px;
            }
        }
    }
    .drinks {
        padding: 95px 0;
        &__image-right {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .container {
        width: 540px;
    }
    .header {
        height: 110px;
    }
    .promo {
        .container {
            width: 540px;
        }
        .container__wrap {
            width: 540px;
        }
        &-slider {
            &__wrapper {
                max-width: 540px;
            }
            &__image {
                width: 500px;
                margin: 0 auto;
            }
        }
    }
    .title_mb75 {
        margin-bottom: 45px;
    }
    .slider {
        padding-top: 50px;
        &__arrow-next {
            display: none;
        }
    }
    .pizza {
        padding-top: 85px;
        &__wrapper {
            justify-content: center;
            grid-template-columns: repeat(1, 340px);
            grid-template-rows: repeat(6, minmax(491px, auto));
            grid-auto-rows: minmax(491px, auto);
            column-gap: 0;
        }
        &-item {
            text-align: center;
        }
        &__absolute-right {
            display: none;
        }
    }
    .set {
        padding-top: 85px;
        &__wrapper {
            justify-content: center;
            grid-template-columns: repeat(1, 340px);
            grid-auto-rows: minmax(491px, auto);
            row-gap: 25px;
            column-gap: 0;
        }
    }
    .burgers {
        padding-top: 85px;
        &__wrapper {
            justify-content: center;
            grid-template-columns: repeat(1, 340px);
            grid-template-rows: repeat(4, minmax(500px, auto));
            grid-auto-rows: minmax(500px, auto);
            column-gap: 0;
        }
        &-item {
            &__royal-image {
                // left: -430px;
                display: none;
            }
            &__chicken-image {
                // right: -240px;
                display: none;
            }
        }
    }
    .combo {
        padding-top: 85px;
        &__wrapper {
            justify-content: center;
            display: grid;
            grid-template-columns: repeat(1, 340px);
            grid-auto-rows: minmax(510px, auto);
            column-gap: 0;
            row-gap: 25px;
        }
    }
    .snacks {
        padding-top: 85px;
        &__wrapper {
            justify-content: center;
            grid-template-columns: repeat(1, 340px);
            grid-template-rows: repeat(2, minmax(430px, auto));
            grid-auto-rows: minmax(430px, auto);
            column-gap: 0;
        }
        &__image-middle {
            // left: 63%;
            display: none;
        }
        &__image-bottom {
            display: none;
        }
    }
    .drinks {
        padding: 85px 0;
        &__wrapper {
            justify-content: center;
            grid-template-columns: repeat(1, 340px);
            grid-template-rows: repeat(3, minmax(475px, auto));
            grid-auto-rows: minmax(475px, auto);
            column-gap: 0;
        }
        &-item {
            &__strawberry-image {
                display: none;
            }
        }
    }
}
@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .header {
        height: 69px;
    }
    .header__wrapper {
        height: 69px;
    }
    .header__logo img{
        width: 110px;
    }
    .promo {
        display: none;
    }
    .slider {
        display: none;
    }
}