.snacks {
    position: relative;
    padding-top: 120px;
    background-color: #e5e5e5;
    z-index: 2;
    &__image-right {
        position: absolute;
        top: 70px;
        right: 0;
    }
    &__image-middle {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__image-bottom {
        position: absolute;
        bottom: -370px;
        right: 0;
    } 
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 340px);
        grid-template-rows: repeat(2, minmax(430px, auto));
        grid-auto-rows: minmax(430px, auto);
        column-gap: 20px;
        row-gap: 30px;
    }
    &-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 35px 0;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        text-align: center;
    }
    &-item__image {
        margin-bottom: 20px;
    }
    &-item__descr {
        max-width: 301px;
        margin: 0 auto;
    }
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    &__price {
        font-weight: 900;
        font-size: 33px;
        line-height: 30px;
        color: $main-color;
        margin-left: 20px;
    }
}